.container {

}

.container:hover, .active{
    background-color: #a8c7fa8f;
}

.title {
    display: flex;
    gap: 10px;
    padding: 5px 15px;
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.title:hover {
    border-radius: 10px;
    /*outline: 1px solid var(--iconHover);*/
    background-color: var(--iconHover);
}