.container {
  display        : flex;
  align-items    : center;
  justify-content: flex-start;
  gap            : 10px;
  cursor: default;
}

.first {
  display       : flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0 auto;
  max-width: 60vw;
}

.title {
  padding                : 10px;
  font-weight            : 200;
  font-size              : 40px;
  color                  : var(--text);
  border-top-left-radius : 10px;
  border-top-right-radius: 10px;
  justify-content        : center;
  text-align             : center;
  opacity: 0.5;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-weight: 500;
  padding    : 0 20px;
  margin     : 0 auto;
  font-size  : 15px;
  text-align : left;
  color      : var(--text);
}

.header {
  font-size: 30px;
  font-weight: 300;
  color      : var(--text);
  opacity: 0.5;
}

.context {
  font-size: 30px;
  font-weight: 300;
  color      : var(--text);
  opacity: 0.9;
}

.top,.bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: justify;
  color      : var(--text);
}


.card {
  display       : flex;
  flex-direction: column;
  gap           : 30px;
  overflow      : hidden;
}
